.container {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    border: 15px solid rgb(103, 185, 103);
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.center {
    margin: auto;
    width: 50%;
    height: 50%;
  }